@model Flocon.Models.AdminPanel.IndexViewModel

@{
    Layout = "_AdminPanel";
    ViewData["Title"] = "Admin panel";
}


<div class="pagetitle">
    <h1>Admin panel</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bx bxs-home"></i></a></li>
        <li class="breadcrumb-item active">Admin Panel</li>
    </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
        <div class="row">

        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales">

            <div class="filter">
                <a href="#" data-bs-toggle="modal" data-bs-target="#AddNewCompany" style="margin-right: 20px; color:#717ff5;">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><i class='bx bx-buildings'></i> Customers companies</h5>

                @if (Model.Companies.Count() == 0)
                {
                    <h5 class="card-title" align="center">No companies registered yet.</h5>
                }
                else
                {
                <table class="table table-borderless table-striped table-advance table-hover datatable" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">Company name</th>
                        <th scope="col">Contact mail</th>
                        <th scope="col">Licence status</th>
                        <th scope="col">Licence settings</th>
                        <th scope="col">Active users</th>
                        <th scope="col">User licences</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cmp in Model.Companies)
                    {
                        <tr>
                            <td valign="middle">
                                <a class="rounded-circle mr-3" asp-action="CompanyProfile" asp-route-id="@cmp.Id">
                                @if (string.IsNullOrEmpty(cmp.LogoPath))
                                {
                                    <img src="~/img/Unknown-user.png" alt="Profile" class="rounded-circle"
                                         style="width: 40px; height: 40px;">
                                }
                                else
                                {
                                    <img src="~/img/companies/@cmp.LogoPath" alt="Profile" class="rounded-circle"
                                         style="width: 40px; height: 40px;">
                                }
                                @Html.DisplayFor(modelItem => cmp.CompanyName)
                                </a>
                            </td>
                            <td valign="middle">
                                @Html.DisplayFor(modelItem => cmp.ContactMail)
                            </td>
                            <td valign="middle">
                                @{
                                    var remainingTime = (int) (cmp.LicenceExpiry - DateTime.Now).TotalDays;
                                    var percent = (UInt16) (((double) remainingTime / 365) * 100);
                                }
                                @if (remainingTime <= 0)
                                {
                                    <span class="label label-danger label-mini">Expired</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="365"></div>
                                    </div>
                                }
                                else if (remainingTime <= 90)
                                {
                                    <span class="label label-warning label-mini">Renew (@remainingTime days)</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @percent%" aria-valuenow="@remainingTime" aria-valuemin="0" aria-valuemax="365"></div>
                                    </div>
                                }
                                else
                                {
                                    <span class="label label-success label-mini">Active (@remainingTime days)</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @percent%" aria-valuenow="@remainingTime" aria-valuemin="0" aria-valuemax="365"></div>
                                    </div>
                                }
                            </td>
                            <td>
                                <a class="textinfo" title="Disable licence" style="margin-right: 10px;"
                                   asp-action="DisableLicence" asp-route-id="@cmp.Id">
                                    <i class="fas fa-tint"></i>
                                </a>
                                <a class="textinfo" title="Demo licence (1 month)" style="margin-right: 10px;"
                                   asp-action="RenewLicenceTrial" asp-route-id="@cmp.Id">
                                    <i class="fas fa-snowman"></i>
                                </a>
                                <a class="text-success" title="Full licence (1 year)"
                                   asp-action="RenewLicenceYearly" asp-route-id="@cmp.Id">
                                    <i class="fas fa-snowboarding"></i>
                                </a>
                            </td>
                            <td valign="middle">
                                @*<span>@Model.Users.Count(x => x.CompanyId == cmp.Id && x.IsActive)</span>*@
                            </td>
                            <td>
                                <span>@cmp.MaxUsers</span>
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
                }

            </div>

            </div>
        </div><!-- End Recent Sales -->

        </div>
    </div><!-- End Left side columns -->

    </div>
</section>





<!-- Modal -->
<div class="modal fade" id="AddNewCompany" tabindex="-1" aria-labelledby="AddNewCompany" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">New customer company</h5>
        @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>*@
      </div>

      <form asp-controller="AdminPanel" asp-action="AddNewCompany" method="Post">
      <div class="modal-body">
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.CompanyName" class="col-form-label">Company name</label>
            <input asp-for="@Model.NewCompany.CompanyName" type="text" class="form-control" >
          </div>
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.ContactMail" class="col-form-label">Contact mail</label>
            <input asp-for="@Model.NewCompany.ContactMail" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.Description" class="col-form-label">Description</label>
            <textarea asp-for="@Model.NewCompany.Description" class="form-control"></textarea>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-theme">Create</button>
      </div>

      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<!--    
<div class="modal fade" id="RemoveCompany" tabindex="-1" aria-labelledby="RemoveCompany" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <p>Are you sure you want to delete company ""</p>
            </div>
            
            <div class="modal-footer">
                <a asp-controller="AdminPanel" asp-action="DeleteCompany" asp-route-id="">
                    <button class="btn btn-theme btn-xs" alt="Confirm">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>
-->
