@model Flocon.Models.AdminPanel.IndexViewModel

@{
    Layout = "_AdminPanel";
    ViewData["Title"] = "Admin panel";

    string selectedId = "";
}

<h3> <i class='bx bx-buildings'></i> Customers companies </h3>

<!-- Button trigger modal -->
<button class="btn btn-theme" align="right" type="button" data-bs-toggle="modal" data-bs-target="#AddNewCompany">
    <i class="fa fa-plus-circle"></i> Add new company
</button>

<!-- Modal -->
<div class="modal fade" id="AddNewCompany" tabindex="-1" aria-labelledby="AddNewCompany" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">New customer company</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <form asp-controller="AdminPanel" asp-action="AddNewCompany" method="Post">
      <div class="modal-body">
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.CompanyName" class="col-form-label">Company name</label>
            <input asp-for="@Model.NewCompany.CompanyName" type="text" class="form-control" >
          </div>
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.ContactMail" class="col-form-label">Contact mail</label>
            <input asp-for="@Model.NewCompany.ContactMail" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label asp-for="@Model.NewCompany.Description" class="col-form-label">Description</label>
            <textarea asp-for="@Model.NewCompany.Description" class="form-control"></textarea>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-theme">Create</button>
      </div>

      </form>
    </div>
  </div>
</div>


@if (Model.Companies.Count() == 0)
{
    <h1 align="center">No companies registered yet.</h1>
}
else
{
    <!-- Should display a mix of MongoUser and UserProfile data -->
<div class="content-panel">
    <table class="table table-striped table-advance table-hover">
        <!--<h4><i class="fa fa-angle-right"></i> Utilisateurs</h4>
        <hr>-->
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Company name</th>
                <th scope="col">Contact mail</th>
                <th scope="col">Licenced users</th>
                <th scope="col">Licence status</th> <!-- Active (x days remaining, x/y active users) / Expired (since x days) -->
                <th scope="col">Actions</th> <!-- Activate/disactivate account, Reset pwd, Delete -->
            </tr>
        </thead>
        
        <tbody>
            @foreach (var cmp in Model.Companies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cmp.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cmp.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cmp.ContactMail)
                    </td>
                    <td>
                        @{
                            var usr = Model.Users.Count(x => x.CompanyId == cmp.Id);
                            <p>@usr / @cmp.MaxUsers</p>
                        }
                    </td>
                    <td>
                        @if (cmp.LicenceExpiry > DateTime.Now) {
                            <span class="label label-success label-mini">Active</span>
                        }
                        else if (cmp.LicenceExpiry > (DateTime.Now.AddMonths(1))) {
                            <span class="label label-warning label-mini">Renew</span>
                        }
                        else {
                            <span class="label label-danger label-mini">Expired</span>
                        }
                    </td>
                    <td>
                        <a asp-controller="AdminPanel" asp-action="CompanyProfile" asp-route-id="@cmp.Id">
                            <button class="btn btn-primary btn-xs" alt="Company page"><i class="fas fa-search"></i></button>
                        </a>

                        @*<button class="btn btn-danger btn-xs" alt="Delete company" data-bs-toggle="modal" data-bs-target="#RemoveCompany" data-removeid="@cmp.Id">
                            <i class="fas fa-trash-alt"></i>
                        </button>*@
                        <a asp-controller="AdminPanel" asp-action="DeleteCompany" asp-route-id="@cmp.Id">
                            <button class="btn btn-danger btn-xs" alt="Delete company"><i class="fas fa-trash-alt"></i></button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

<!-- Modal -->
<!--    
<div class="modal fade" id="RemoveCompany" tabindex="-1" aria-labelledby="RemoveCompany" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <p>Are you sure you want to delete company ""</p>
            </div>
            
            <div class="modal-footer">
                <a asp-controller="AdminPanel" asp-action="DeleteCompany" asp-route-id="">
                    <button class="btn btn-theme btn-xs" alt="Confirm">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>
-->
